#gridArea{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#Banner{
    background-color: aqua;
}
#mainHeading{
    text-align: center;
    color:blue;
    font-size: 300%;
}
#subtitle{
    text-align: center;
    color: darkblue;
    font-size: 120%;
}