#main-buttons{
    width: 60%;  
    color: rgb(255, 255, 255);   
    padding: 15px;   
    margin: 10px 0px;   
    border: none;   
    cursor: pointer;  
    border-radius: 60px; 
    display: inline-block;
}

.credentials {
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: azure;
    
}

#swimmerStats{
    width: 100%;
    padding-top: 2%;
    text-align: center;
    color: azure;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 80%;
  }

td, th {
    border: 1px solid #dddddd; 
    text-align: left;
    padding: 8px;
}

.credentials h1{
    margin-top: 80px;
    font-size: 70px;

}

.credentials h3{
    padding-top: 1px;
    font-size: 21px;
    color: rgb(0, 60, 255);
    margin-bottom: 10px ;
}

.credentials button {
    cursor:pointer;
    background-color: rgb(0, 0, 255);
    width: 60%;  
    color: rgb(255, 255, 255);   
    padding: 15px;   
    margin: 10px 0px;   
    border: none;   
}

button:hover {   
    opacity: 0.9;   
} 

.credentials form input{
    flex: 1;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 20px;
}

.credentials {
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: azure;
    display: block;
    
}

.credentials form input{
    flex: 1;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 20px;
}

.credentials h1{
    margin-top: 80px;
    font-size: 70px;

}

.credentials h3{
    padding-top: 1px;
    font-size: 21px;
    color: rgb(0, 60, 255);
    margin-bottom: 10px ;
}

.credentials button {
    cursor:pointer;
    background-color: rgb(0, 0, 255);
    width: 60%;  
    color: rgb(255, 255, 255);   
    padding: 15px;   
    margin: 10px 0px;   
    border: none;   
}
 
label {
   color: rgb(255, 255, 255);
   margin: 10px 10px; ;
}

input{   
    width: 60%;   
    margin: 10px 10px;  
    padding: 12px 30px;   
    display: inline-block;   
    border: 20px solid rgb(0, 25, 245);
    box-sizing: border-box;
    height: 35px;   
}  


select {
    height: 35px;  
    background-color: rgb(25, 150, 255);
    width: 60%;   
}

#page{
    background-color: rgb(0, 0, 95);
}

.gridCell{
    display: none;
    background-color: white;
    text-align: center;
    justify-content: center;
}

.gridTitle{
    font-weight: bold;
    font-size: larger;
}

.gridContent{
    font-size: large;
}

.statsarea{
    width: 100%;
    padding-top: 2%;
    text-align: center;
    color: azure;
    top: 48%;
    position: absolute;
}

.statsarea label {
    font-size: 16pt;
    font-style: bold;
}

select {
    height: 35px;  
    background-color: rgb(244, 244, 244);
    width: 60%;   
}

.titlediv form input{
    flex: 1;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 20px;
}

.titlediv {
    width: 100%;
    text-align: center;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: azure;
    display: block;
    
}

.titlediv form input{
    flex: 1;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 20px;
}

.titlediv h1{
    margin-top: 80px;
    font-size: 70px;

}

.titlediv h3{
    padding-top: 1px;
    font-size: 21px;
    color: rgb(0, 60, 255);
    margin-bottom: 10px ;
}

.titlediv button {
    cursor:pointer;
    background-color: rgb(0, 0, 255);
    width: 60%;  
    color: rgb(255, 255, 255);   
    padding: 15px;   
    margin: 10px 0px;   
    border: none;   
}